body {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: whitesmoke
}

.cabecario {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: block;
    text-align: initial;
    font-size: 1.5vw;
}

.cabecario ul {
    position: fixed;
    display: inline-block;
    background-color:rgb(109, 0, 0);
    color: black;
    width: 100vw;
    z-index: 9999;
}

.cabecario li {
    float: right;
    margin: 16px;
    text-decoration: none;
}

#fotocabecario {
    margin-top: 4%;
    max-width: 100vw;
    height: auto;
}

.c1, .c2, .c3, .c4 {
    color: whitesmoke;
    text-decoration: none;
}

.c4 {
    margin-right: 30px;
}

.c1:hover,.c2:hover,.c3:hover,.c4:hover {
    color: rgb(0, 179, 0);
    border-bottom: #a80505cc solid 4px;
    transition: .1s ease-in-out;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: rgb(109, 0, 0);
    text-align: center;
    font-size: 3em;
    padding-top: 70px;
}

.coluna2 {
    float: left;
    width: 16.666%;
    background-color: rgb(169, 114, 221);
    height: auto;
}

.coluna4 {
    float: left;
    width: 33.333%;
    background-color: rgb(109, 0, 0);
    height: auto;
    z-index: -2;
}

.coluna4 h3 {
    color: white;
}

.coluna4 img {
    width: 100%;
    height: auto;
}

.coluna5 {
    float: left;
    width: 41.666%;
    height: auto;
}

.coluna5 img {
    max-width: 100%;
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.coluna7 {
    float: left;
    width: 58.333%;
    height: 340px;
}

.coluna10 {
    float: left;
    width: 83.333%;
    background-color: rgb(209, 162, 252);
    height: auto;
}

.coluna12 {
    float: left;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.coluna12 p {
    text-align: center;
    line-height: 1;
}

.rodape {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: .1em;
}

.rodape a:hover {
    border-bottom: white solid 1px;
    transition: 1s ease-out;
}

.icone {
    margin: 5px;
    color:whitesmoke;
    text-align: center;
}

.icone:hover {
    color: rgb(0, 179, 0);
}


.footer {
    display: block;
    text-align: initial;
    font-size: 1.5vw;
    text-align: center;
    padding-bottom: 0px;
}

.footer ul {
    background-color:rgb(109, 0, 0);
    width: 100vw;
}

.footer li {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    color: whitesmoke;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

a.button1:visited, a.button2:visited {
    color: whitesmoke;
}

a.button1:link, a.button2:link {
    background-color: rgb(109, 0, 0);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    border-radius: 4px;
    color: whitesmoke;
}

a.button1:hover, a.button2:hover {
    color: rgb(0, 179, 0);
}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
  /* Demo Purpose Only*/
  .demo {
    font-family: 'Raleway', sans-serif;
      color:#fff;
      display: block;
      margin: 0 auto;
      padding: 15px 0;
      text-align: center;
  }
  .demo a{
    font-family: 'Raleway', sans-serif;
    color: #000;		
  }

/* parte complementar fotos.html */

.coluna3 {
    float: left;
    width: 25%;
    height: auto;
}

.coluna3 img {
    width: 100%;
    height: auto;
}

.coluna3 h1, .contato h1{
    padding-top: 60px;
    padding-bottom: 20px;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    clear: both;
    display: block;
    height: 0;
}

.fotosmorada {
    padding-top: 10vh;
}

.footerfoto {
    padding-top: 0px;
}

.coluna9 p {
    margin-top: 0px;
}

/* animação texto em cima da imagem */

.textoimg { 
   position: relative;
}

h3 { 
   position: absolute; 
   top: 10px; 
   left: 10; 
   width: 100%;
   z-index: -1;
}

/* parte complementar contato.html */

.contato p {
    text-align: center;
    margin: 0px;
    padding-bottom: 20px;
}

.coluna6 {
    float: left;
    width: 50%;
    height: auto;
}

.coluna6 p {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 0px;
}

.simnao {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
  
input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    display: list-item;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

textarea:focus {
    background-color: #ddd;
    outline: none;
}

#mensagem {
    height: 50%;
}
  
  /* Set a style for the submit button */
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  h2 {
      color: white;
  }

/* parte de animação */

@-webkit-keyframes flipInX {
    from {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    40% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  
    60% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
    }
  
    80% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
      transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
  
    to {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
    }
  }
  @keyframes flipInX {
    from {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    40% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  
    60% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
    }
  
    80% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
      transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
  
    to {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
    }
  }

.animate__flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
  }

.animacao:hover {
    background: #000;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}